{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/about.css' %}"> <!-- Link to your CSS file -->
</head>
<body>
<div class="navbar">
    {% if request.user.is_authenticated %}
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'create pet' %}">Add Pet</a>
        <a href="{% url 'create photo' %}">Add Photo</a>
        <a href="{% url 'contact' %}">Contact</a>
        <a href="{% url 'admin-redirect' %}">Admin</a>
    {% else %}
        <a href="{% url 'home page' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'FAQ' %}">FAQ</a>
        <a href="{% url 'contact' %}">Contact</a>
    {% endif %}
    <img width="50px" class="petstagram-image" src="{% static '/images/free-30-instagram-stories-icons23_122570.png' %}"
         alt="img1">
    {% if not  request.user.is_authenticated %}
        <div class="navbar-right">
            <a href="{% url 'signin user' %}">Login</a>
            <a href="{% url 'signup user' %}">Sign Up</a>
        </div>
    {% else %}
        <div class="navbar-right">
            <a href="{% url 'signout user' %}">Sign Out</a>
            <a href="{% url 'profile_update' %}">Profile</a>
        </div>
    {% endif %}

</div>
<div class="container">
    <header>
        <h1>About Petstagram</h1>
        <p>Your go-to platform for all things pet-related!</p>
    </header>
    <section id="intro">
        <h2>Welcome to Our Website!</h2>
        <p>We are a team of passionate individuals dedicated to providing innovative solutions for our clients.</p>
        <div class="sign-up-button-container">
            {% if request.user.is_authenticated %}
                <a href="{% url 'signout user' %}" class="sign-up-button">Sign Out</a>
            {% else %}
                <a href="{% url 'signup user' %}" class="sign-up-button">Sign Up</a>
            {% endif %}
        </div>
    </section>
    <section id="mission">
        <h2>Our Capabilities</h2>
        <div class="card-container">
            <div class="card">
                <div class="card-icon">
                    <i class="bi bi-lightbulb"></i>
                </div>
                <div class="card-content">
                    <h3>Idea Generation</h3>
                    <p>We generate innovative ideas tailored to your business needs, ensuring creative solutions.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-icon">
                    <i class="bi bi-tools"></i>
                </div>
                <div class="card-content">
                    <h3>Product Development</h3>
                    <p>We develop high-quality products using cutting-edge technologies and industry best practices.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-icon">
                    <i class="bi bi-person-raised-hand"></i>
                </div>
                <div class="card-content">
                    <h3>Client Collaboration</h3>
                    <p>We collaborate closely with clients to understand their requirements and deliver tailored
                        solutions.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="future-plans" class="petstagram-section">
        <div class="future-plans-container">
            <h2>Future Plans</h2>
            <p>At Petstagram, we are constantly evolving and innovating to provide the best experience for our users.
                Some of our future plans include:</p>
            <ul>
                <li>Expanding our platform to include new features such as pet adoption services.</li>
                <li>Launching mobile apps for iOS and Android to make it easier for users to connect on the go.</li>
                <li>Partnering with pet-related businesses to offer exclusive discounts and deals to our users.</li>
                <li>Organizing community events and meetups for pet lovers to come together and share their
                    experiences.
                </li>
            </ul>
        </div>
    </section>
    {% include 'accounts/persons.html' %}

</div>
<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h3>About Us</h3>
            <p>At Petstagram, we're dedicated to online community where pet lovers from all walks of life can come
                together to share their passion for animals.</p>
        </div>
        <div class="footer-section">
            <h3>Contact Us</h3>
            <p>Email: petsagram@gmail.com</p>
            <p>Phone: +123-456-7890</p>
        </div>
        <div class="footer-section">
            <h3>Follow Us</h3>
            <div class="social-icons">
                <a href="#"><i class="bi bi-whatsapp"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="bottom-bar">
        <p>&copy; 2024 Petstagram Company. All Rights Reserved. | <a href="#">Terms of Service</a> | <a href="#">Privacy
            Policy</a></p>
    </div>
</footer>

</body>
</html>
