{% extends 'base.html' %}

{% load static %}

{% block main_content %}
    <div class="profile">
        <div class="profile-data">
            <div class="profile_img">
                <div class="image">
                    {% if object.profile_picture %}
                        <img src="{{ object.profile_picture }}" alt="img8"/>
                    {% else %}
                        <img src="{% static 'images/person.png' %}" alt="img8"/>
                    {% endif %}
                </div>
            </div>
            <div class="personal">
                <div class="edit">
                    <p>{{ profile.user.email }}</p>

                    {% if object.pk == request.user.pk %}
                        <a href="{% url 'edit profile' pk=object.pk %}">
                            <img
                                    class="edit-img"
                                    src="{% static 'images/edit-pen-icon-6.jpg' %}"
                                    alt="edit button"
                            />
                        </a>

                        <a href="{% url 'delete profile' pk=object.pk %}">
                            <img
                                    class="bin-img"
                                    src="{% static 'images/icon-remove-22.jpg' %}"
                                    alt="bin button"
                            />
                        </a>
                    {% endif %}
                </div>
                {% if object.full_name %}
                    <h3 class="names">{{ object.full_name }}</h3>
                {% endif %}

                {% if object.date_of_birth %}
                    {{ object.date_of_birth }}
                {% endif %}

                <p class="email">{{ object.user.email }}</p>
            </div>
            <a href="{% url 'edit profile' pk=object.pk %}">Edit</a>
        </div>

        {# TODO: Fix this #}
        <!-- Start Pets Data Section -->
        <!-- Start Pets Data Section -->
        <div class="pets">
            <div class="statuses">
                {% for pet in user.profile.pet_set.all %}
                    <!-- Start Pet Details Page -->
                    <!-- Link to Pet Details Page -->
                    <a href="{% url 'details pet' username=user.username pet_slug=pet.slug %}">
                        <div class="head-pet">
                            <div class="status">
                                <div class="image">
                                    <!-- Pet Image -->
                                    <img src="{{ pet.pet_photo }}" alt="pet img">
                                </div>
                            </div>
                            <!-- Pet Name -->
                            <p>{{ pet.name }}</p>
                        </div>
                    </a>
                    <!-- End Pet Details Page -->
                {% endfor %}
            </div>
        </div>
        <!-- End Pets Data Section -->

        <!-- End Pets Data Section -->

        <img
                class="no-posts"
                src="{% static 'images/no_posts.png' %}"
                alt="no posts"
        />
    </div>
{% endblock %}