{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/FAQ.css' %}">

</head>
<body>

<section>
    <div class="container">
        <div class="imgCont">
            <img class='img' src="{% static '/images/dog-on-road.jpg' %}"/>
        </div>
        <div class="questionCont" id="mainContiner">
            <h1>FAQ</h1>
        </div>

    </div>
</section>

<script src="{% static 'js/FAQ.js' %}"></script>
</body>
</html>