{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Three Sections</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-V9O7vZMjQo7NZBPEKMLIKXuM4HeB9ndU2ZmLqzZlW+XBS4MnQhMpR21y/HpNXKq6B7erwyaMwDdOsIbQlXfUzg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
<div class="navbar">
    <a href="{% url 'index' %}">Home</a>
    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'FQA' %}">FQA</a>
    <a href="{% url 'services' %}">Services</a>
    <a href="{% url 'contact' %}">Contact</a>
    <a href="{% url 'admin-redirect' %}">Admin</a>
    <img width="50px" class="petstagram-image" src="{% static '/images/free-30-instagram-stories-icons23_122570.png' %}"
         alt="img1">
    {% if not  request.user.is_authenticated %}
        <div class="navbar-right">
            <a href="{% url 'signin user' %}">Login</a>
            <a href="{% url 'signup user' %}">Sign Up</a>
        </div>
    {% else %}
        <div class="navbar-right">
            <a href="{% url 'signout user' %}">Sign Out</a>
        </div>
    {% endif %}

</div>
<section id="intro" class="intro-section">
    <div class="intro-container">
        <h1>Welcome to Petstagram</h1>
        <p>Your ultimate destination for pet lovers!</p>
        <a href="{% url 'signup user' %}" class="btn">Explore Now</a>
    </div>
</section>
<section class="section service">
    <div class="container-advantage">
        <h2 class="h2 section-title">
            What Advantages does Petstagram have?
        </h2>
        <div class="wrapper">
            <ul class="service-list">
                <li class="service-item">
                    <div>
                        <h3 class="h5 card-title">Priceless Experience</h3>
                        <p class="card-text">
                            Together, we discover the true essence of happiness in the simplest of moments.
                        </p>
                    </div>
                    <div class="card-icon">
                        <i class="bi bi-people"></i>
                    </div>
                </li>
                <li class="service-item">
                    <div>
                        <h3 class="h5 card-title">Extremely Widespread</h3>
                        <p class="card-text">
                            Petstagram is Sharing Platform for all your Pets
                        </p>
                    </div>
                    <div class="card-icon">
                        <i class="bi bi-globe-asia-australia"></i>
                    </div>
                </li>
                <li class="service-item">
                    <div>
                        <h3 class="h5 card-title">Priceless application</h3>
                        <p class="card-text">
                            Experience wide Contacts with Our Platform Solutions
                        </p>
                    </div>
                    <div class="card-icon">
                        <i class="bi bi-wallet"></i>
                    </div>
                </li>
            </ul>
            <figure class="service-banner img-holder" style="width: 805px; height: 510;">
                <img src="{% static '/images/dog-on-road.jpg' %}" width="905" height="710" loading="lazy"
                     alt="service banner"
                     class="img-cover">
            </figure>
            <ul class="service-list">
                <li class="service-item">
                    <div>
                        <h3 class="h5 card-title">Priceless Experience</h3>
                        <p class="card-text">
                            Together, we discover the true essence of happiness in the simplest of moments.
                        </p>
                    </div>
                    <div class="card-icon">
                        <i class="bi bi-people"></i>
                    </div>
                </li>
                <li class="service-item">
                    <div>
                        <h3 class="h5 card-title">Extremely Widespread</h3>
                        <p class="card-text">
                            Petstagram is Sharing Platform for all your Pets
                        </p>
                    </div>
                    <div class="card-icon">
                        <i class="bi bi-globe-asia-australia"></i>
                    </div>
                </li>
                <li class="service-item">
                    <div>
                        <h3 class="h5 card-title">Priceless application</h3>
                        <p class="card-text">
                            Experience wide Contacts with Our Platform Solutions
                        </p>
                    </div>
                    <div class="card-icon">
                        <i class="bi bi-wallet"></i>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<div class="container">
    <section class="section">
        <h2>Discover Adorable Pets from Around the World</h2>
        <p>Dive into a world of cuteness and companionship with Petstagram. Explore a diverse range of pets, from fluffy
            cats to playful dogs, and everything in between. Share your own pet's adventures and connect with fellow
            animal lovers in our vibrant community.</p>

    </section>
    <section class="section">
        <h2>Discover Adorable Pets from Around the World</h2>
        <p>Every pet has a story to tell, and Petstagram is the perfect platform to share it. Whether your pet is a
            rescue, a champion, or simply your beloved companion, their story matters. Join us in celebrating the joy
            and love that our furry friends bring to our lives by sharing your pet's special moments with the world.</p>
    </section>
    <section class="section">
        <h2>Connect with Like-Minded Pet Enthusiasts</h2>
        <p>Petstagram isn't just a place to post cute pictures of your pets—it's a community of passionate pet owners
            and enthusiasts. Connect with others who share your love for animals, exchange tips and advice, and forge
            meaningful friendships. Whether you're seeking pet care tips or simply want to gush about your furry friend,
            you'll find a welcoming community here on Petstagram.</p>
    </section>
</div>
<!-- Additional Content -->
<div class="additional-content">
    <div class="cta">
        <h3>Terms of use</h3>
        <p>Don't miss out on our latest updates on terms of use</p>
        <a href="{% url 'terms_of_use' %}">Check now!</a>
    </div>

    <div class="testimonial">
        <h3>Quotes of Users</h3>
        <blockquote>
            <p>Petstagram is more than just an app—it's a family of pet enthusiasts united by their love for all
                creatures great and small. </p>
            <cite>- Ivan Petrov</cite>
        </blockquote>
        <blockquote>
            <p>At Petstagram, we're on a mission to make the world a happier place—one pet post at a time.</p>
            <cite>- Lecho Lechev</cite>
        </blockquote>
    </div>

    <div class="latest-posts">
        <h3>Adoption program</h3>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'index' %}">See our adoption program right there</a></li>
                <a href="{% url 'pet-create' %}" class="fa-1x">Create Adoption</a>
                <a href="{% url 'pet-list' %}" class="fa-1x">View Adoptions</a>
            {% else %}
                <li><a href="#">Make sure you have signed in or log in to see our latest adoption program </a></li>
                <a href="{% url 'signup user' %}" class="fa-1x">Go Sign In</a>
            {% endif %}
        </ul>
    <img src="{% static 'images/dog-on-bed.jpg' %}" alt="Adoption Program" class="adoption-image">
    </div>

</div>
<!-- Footer -->
<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h3>About Us</h3>
            <p>At Petstagram, we're dedicated to online community where pet lovers from all walks of life can come
                together to share their passion for animals.</p>
        </div>
        <div class="footer-section">
            <h3>Contact Us</h3>
            <p>Email: petsagram@gmail.com</p>
            <p>Phone: +123-456-7890</p>
        </div>
        <div class="footer-section">
            <h3>Follow Us</h3>
            <div class="social-icons">
                <a href="#"><i class="bi bi-whatsapp"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="bottom-bar">
        <p>&copy; 2024 Petstagram Company. All Rights Reserved. | <a href="#">Terms of Service</a> | <a href="#">Privacy
            Policy</a></p>
    </div>
</footer>

</body>
</html>
