{% extends 'base.html' %}
{% load static %}

{% block main_content %}

    <div class="login-register-div">
        <div class="login-register-box">
            <h1>Petstagram</h1>
            <form method="post" action='{% url 'signup user' %}'>
                {% csrf_token %}
                <!-- Email input field with placeholder -->
                {{ form_profile.first_name.label }}
                {{ form_profile.first_name }}
                {{ form_profile.first_name.errors }}
                
                {{ form_profile.last_name.label }}
                {{ form_profile.last_name }}
                {{ form_profile.last_name.errors }}
                
                {{ form_profile.date_of_birth.label }}
                {{ form_profile.date_of_birth }}
                {{ form_profile.date_of_birth.errors }}
                
                {{ form_profile.profile_picture.label }}
                {{ form_profile.profile_picture }}
                {{ form_profile.profile_picture.errors }}
                
                {{ form_user.email.label }}
                {{ form_user.email }}
                {{ form_user.email.errors }}
                
                {{ form_user.password1.label }}
                {{ form_user.password1 }}
                {{ form_user.password1.errors }}
                
                {{ form_user.password2.label }}
                {{ form_user.password2 }}
                {{ form_user.password2.errors }}
                
                {{ form_user.errors }}
                {{ form_profile.errors }}
                
                <button type="submit" class="btn btn">Register</button>
            </form>
        </div>
        <div class="second-option">
            <p>Have an account? <a href="{% url 'signin user' %}">Log in</a></p>
        </div>
    </div>

{% endblock %}