{% extends 'base.html' %}

{% load static %}

{% block main_content %}
    <div class="container">
        <div class="col-9">
            {% include 'partials/pet_photo_list_item.html' with photo=object %}

            <p class="pet-details">{{ object.description }}</p>

            <h5 class="postTime">{{ object.created_at }}</h5>

            <!-- Display the image -->
            <img src="{{ object.image.url }}" alt="Image">

            <!-- Button to download the image -->
            <a href="{% url 'download_image' image_id=object.pk %}" download>
                <button>Download Image</button>
            </a>

            <div class="comments">
                {% for comment in object.photocomment_set.all %}
                    <div class="top">
                        <div class="userDetails">
                            <div class="comment-data">
                                <div class="profilepic">
                                    <div class="profile_img">
                                        <div class="image">
                                            <img src="{% static 'images/person.png' %}" alt="img8">
                                        </div>
                                    </div>
                                </div>
                                <p>
                                    <a href="{% url 'details profile' pk=1 %}">Doncho</a>
                                    <!-- User Comment -->
                                    - {{ comment.text }}
                                </p>
                            </div>
                            <span>{{ comment.created_at }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
        </div>

    </div>
{% endblock %}
