{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
<body>
<header>
    <nav class="navbar">
        <div class="container">
            <div class="logo">
                <a href="{% url 'index' %}">
                    <img width="50px" src="{% static '/images/free-30-instagram-stories-icons23_122570.png' %}"
                         alt="img1">
                </a>

            </div>
            <div class="nav-links">
                <ul class="nav-group">
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'create pet' %}" id="a">
                                <i>Add Pet</i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'create photo' %}" id="a">
                                <i>Add Photo</i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'details profile' pk=request.user.pk %}" id="a">
                                <i>Profile</i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'signout user' %}" id="a">
                                <i>Log out</i>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'signin user' %}" id="a">
                                <i>Login</i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'signup user' %}" id="a">
                                <i>Register</i>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <a href="{% url 'home page' %}" class="home-button">Home</a>
    </nav>
</header>
</body>
